html,
body > #root{
  height: 100vh;
  font-family: sans-serif;
}

body {
  margin: 0;
  padding: 0;
  /* font-size: 10px; */
}

.parent-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.main-container {
  flex: 1 0 auto;
}

.footer {
  flex-shrink: 0;
  text-align: center;
  background-color: tomato;
  color: white;
}