
.section-four-container{
    background-color: #f7f7f7;
    padding: 30px 0px 60px;
}

.get-answers{
    font-family: Merriweather;
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 35px;
}
