

.modal-title{
    width: fit-content;
    padding: 0px;
}


.modal-content{
    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;
}


.modal-header .close {
    padding: 25px 30px !important;
    /* border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important; */
}